.footer {
    margin-top: 96px;
    width: 100%;
    border-radius: 32px 32px 0 0;
    background-color: #000;
    padding: 32px 48px;
    box-sizing: border-box;
    color: #fff;
    position: relative;

    .footer_container-up {
        display: flex;
        justify-content: flex-start;

        .container_item {
            margin-left: 48px;

            &:first-child {
                margin-left: 0;
            }

            .container_label {
                font-size: 20px;
            }

            .container_paragraph {
                font-size: 48px;
                margin-top: 16px;
                border-bottom: #fff 1px solid;
            }
        }
    }

    .footer_contaner-bottom {
        display: flex;
        margin-top: 32px;

        .contaner_image {
            margin-left: 8.7px;
            &:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
            &:first-of-type {
                margin-left: 0;
            }
        }
    }

    .footer_label-bottom {
        position: absolute;
        font-size: 36px;
        right: 48px;
        bottom: 32px;
    }
}

@media (max-width: 1400px) {
    .footer {

        .footer_container-up {
            display: flex;
            justify-content: flex-start;

            .container_item {
                margin-left: 48px;

                &:first-child {
                    margin-left: 0;
                }

                .container_label {
                    font-size: 14px;
                }

                .container_paragraph {
                    font-size: 24px;
                    margin-top: 16px;
                }
            }
        }

        .footer_contaner-bottom {
            .contaner_image {
                width: 100px;
            }
        }

        .footer_label-bottom {
            font-size: 36px;
        }
    }
}

@media (max-width: 650px) {
    .footer {
        padding: 16px 17px;
        margin-top: 48px;
        .footer_container-up {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            margin-top: 131px;

            .container_item {
                margin-top: 32px;
                margin-left: 0;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        .footer_contaner-bottom {
            margin-top: 48px;

            .contaner_image {
                width: calc(100% / 3);
                margin-left: 2px;
                min-height: 36px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .footer_label-bottom {
            top: 48px;
            left: 17px;
        }
    }
}